/*-----------TEAM---------*/

.team {
  text-align: center;
  &__title {
    color: $color-team-title;
    font-size: 3.8rem;
    line-height: 1.5em;
    @media screen and(max-width: 660px) {
      font-size: 3rem;
      margin-bottom: 10px;
    }
  }
  &__text {
    font-size: 2.6rem;
    color: $color-menu-link;
    margin-bottom: 5%;
    @media screen and(max-width: 660px) {
      font-size: 1.8rem;
      margin-bottom: 4%;
    }
  }
  &-people {
    @extend %flex-row;
    @extend %flex-sb-cen;
    @media screen and(max-width: 660px) {
      flex-wrap: wrap;
    }
    padding-bottom: 5%;
    border-bottom: 1px solid $color-team-bottom-line;
  }
  &-person {
    margin-right: 20px;
    font-size: 13px;
    @media screen and(max-width: 660px) {
      flex-basis: 45%;
      &:nth-child(2) {
        margin-right: 0;
        margin-bottom: 15px;
      }
      &:first-child {
        margin-bottom: 15px;
      }
    }
    @media screen and(max-width: 440px) {
      flex-basis: 100%;
      &:nth-child(3) {
        margin-bottom: 15px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &__photo {
      padding: 12.8% 10.6% 0;
      margin-bottom: 24px;
      background-color: $color-team-img;
    }
    & span {
      display: block;
    }
    &__name {
      color: $color-menu-link;
      margin-bottom: 13px;
    }
    &__profile {
      color: $color-logo-circle;
    }
  }
}