/* --------------- BASIC SETTINGS ---------*/
html {
  font-size: 10px;
  min-height: 100%;
  font-weight: normal;
  font-style: normal;
}
body {
  color: #000;
  background-color: #fff;
  text-align: left;
  font-size: 1rem;
  min-height: 100%;
}

img{
  max-width: 100%;
}