/******    Fonts    ******/

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/Arial_MT.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src:  url('../fonts/Georgia.woff') format('woff');
  src:  url('../fonts/Georgia.ttf') format('truetype');
  src:  url('../fonts/Georgia.eot') format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src:  url('../fonts/Georgia-Bold.woff') format('woff');
  src:  url('../fonts/Georgia-Bold.ttf') format('truetype');
  src:  url('../fonts/Georgia-Bold.eot') format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
