//HEADER

$color-header-top: #1c1c1c;
$color-logo-circle: #d54346;
$color-logo-part1: #f8f8f8;
$color-logo-part2: #333333;
$color-logo-part3: #b2b2b2;
$color-logo-line: #b2b2b2;
$color-white: #ffffff;
$color-search-input: #dddddd;

// NAVIGATION

$color-menu-items-border: #c9c9c9;
$color-menu-link: #999999;
$color-social-hover: #ee802f;

// SLIDER

$color-overlay: #0f0f0f;
$color-slider-text: #bfbfbf;
$color-circle: #cecece;
$color-circle-active: #353535;

//TEAM

$color-team-title: #4a4a4a;
$color-team-img: #e2e2e2;
$color-team-bottom-line: #e8e8e8;

//WORK

$color-work-title: #d44346;

//FOOTER

$color-footer-top: #871f21;
$color-footer-link: #631618;
$color-footer-links-bottom: #d85255;
$color-footer-form: #807d77;
$color-footer-line: #b7282c;