//Header

$color-header-top: #1c1c1c;
$color-logo-circle: #d54346;
$color-logo-part1: #f8f8f8;
$color-logo-part2: #333333;
$color-logo-part3: #b2b2b2;
$color-logo-line: #b2b2b2;
$color-white: #ffffff;
$color-search-input: #dddddd;

// Navigation

$color-menu-items-border: #c9c9c9;
$color-menu-link: #999999;
$color-social-hover: #ee802f;

// Slider

$color-overlay: #0f0f0f;
$color-slider-text: #bfbfbf;
$color-circle: #cecece;
$color-circle-active: #353535;

//TEAM

$color-team-title: #4a4a4a;
$color-team-img: #e2e2e2;
$color-team-bottom-line: #e8e8e8;