* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
a {
    text-decoration: none;
    color: #000;
}
img {
    width: 100%;
}
body {
    color: #626262;
    font-family: "Playfair Display", serif;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}
.section {
    margin: 0 150px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 68px 70px 72px;
}
.logo {
    color: #000;
    font-family: Inconsolata, sans-serif;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-basis: 40%;
}
.title {
    color: #626262;
    font-size: 30px;
    margin-bottom: 34px;
}
.sec {
    color: #b4ad9e;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.article {
    flex-basis: 300px;
    flex-grow: 1;
}
.menu__item {
    margin-left: 15px;
    text-transform: uppercase;
}
.main-photo {
    margin: 0 -80px 99px;
}
.block-article {
    margin-bottom: 135px;
}
.block-article__sec {
    margin-bottom: 28px;
}
.block-article__text {
    margin-bottom: 52px;
}
.block-articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block-articles__article {
    margin-bottom: 132px;
}
.block-articles__article:nth-child(2n+1) {
    margin-right: 60px;
}
.article__image {
    margin-bottom: 32px;
}
.article__sec {
    margin-bottom: 28px;
}
.sign-block {
    background-color: #f0f0f0;
    margin-top: -10px;
    padding: 63px 80px;
}
.sign-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}
.sign-block__title {
    color: #333;
    font-size: 30px;
    margin-bottom: 83px;
}
.form-email {
    padding-bottom: 74px;
}
.input-block {
    position: relative;
}
.input-block__field {
    line-height: 24px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    border: none;
    background-color: #f0f0f0;
    width: 400px;
    border-bottom: 1px solid #000;
    padding-right: 40px;
}
.input-block__link {
    position: absolute;
    top: 3px;
    right: 0;
}
.input-block__field:focus {
    outline: none;
}
.input-block__img {
    width: 32px;
    height: 17px;
}
.flex-box {
    margin-top: 103px;
}
.load-button {
    display: block;
    border: 1px solid #626262;
    width: 164px;
    padding: 21px 34px;
    text-align: center;
    font-size: 20px;
    margin: 30px auto 160px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 40px 70px 42px 150px;
}
.footer__link {
    margin-right: 17px;
}
.footer-socials {
    display: flex;
    align-items: center;
}
.footer-socials__title {
    margin-right: 22px;
}
.link {
    display: block;
    margin-right: 18px;
}
.link:last-child {
    margin-right: 0;
}
.footer-socials__fc {
    width: 8px;
    height: 14px;
}
.footer-socials__tw {
    width: 18px;
    height: 13px;
}
.footer-socials__cm {
    width: 15px;
    height: 15px;
}
/******   Media quaries   ********/

@media screen and (max-width: 960px) {
    .section {
        margin-right: 80px;
        margin-left: 80px;
    }
    .main-photo {
        margin: 0 -30px 70px;
    }
    .block-article {
        margin-bottom: 80px;
    }
    .article {
        flex-basis: auto;
    }
    .block-articles__article:nth-child(2n+1) {
        margin-right: 0;
    }
    .block-articles__article {
        margin-bottom: 80px;
    }
    .title {
        font-size: 22px;
    }
    .sign-block {
        padding: 50px 65px;
    }
    .flex-box .block-articles {
        flex-wrap: wrap;
    }
    .load-button {
        margin-bottom: 90px;
        margin-top: 0;
        padding: 17px 25px;
    }
    .footer {
        padding: 35px 70px;
    }
}

@media screen and (max-width: 740px) {
    .header {
        margin: 50px 60px;
    }
    .menu {
        flex-basis: 60%;
    }
    .section {
        margin-right: 70px;
        margin-left: 70px;
    }
    .main-photo {
        margin: 0 -30px 50px;
    }
    .block-article__text {
        margin-bottom: 40px;
    }
    .block-article {
        margin-bottom: 60px;
    }
    .block-articles__article {
        margin-bottom: 60px;
    }
    .form-email{
        padding-bottom: 30px;
    }
    .sign-block__title {
        font-size: 25px;
        margin-bottom: 50px;
    }
    .load-button {
        margin-bottom: 70px;
        font-size: 16px;
        padding: 10px 15px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        display: block;
    }
    .logo {
        margin-bottom: 30px;
        font-size: 25px;
    }
    .menu__item {
        margin-left: 0;
    }
    .main-photo {
        margin-bottom: 30px;
    }
    .block-article__sec {
        margin-bottom: 20px;
    }
    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .block-article__text {
        margin-bottom: 25px;
    }
    .block-article {
        margin-bottom: 35px;
    }
    .sign-block__title {
        font-size: 20px;
    }
    .input-block__field{
        width: 300px;
    }
    .flex-box {
        margin-top: 50px;
    }
    .footer{
        padding: 30px 60px;
    }
    .footer-terms {
        display: flex;
        flex-direction: column;
    }


}
@media screen and (max-width: 425px) {
    .header {
        margin: 30px 40px;
    }
    .logo {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .main-photo {
        margin: 0 -15px 25px;
    }
    .block-article__sec {
        margin-bottom: 15px;
    }
    .section {
        margin-right: 30px;
        margin-left: 30px;
    }
    .article__image {
        margin-bottom: 25px;
    }
    .article__sec {
        margin-bottom: 20px;
    }
    .block-articles__article {
        margin-bottom: 30px;
    }
    .load-button {
        margin-bottom: 40px;
        font-size: 14px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-terms {
        margin-bottom: 15px;
    }
    .footer-terms {
        flex-direction: row;
    }
    .footer__link {
        margin-right: 30px;
    }

}


